/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f1f3f8;
}

/* NAVBAR */
.navbar {
    background: #ec4be1;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .logo {
    font-size: 22px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #dff9fb;
}

/* PAGE CONTAINER */
.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

/* TITLES */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #2d3436;
}

/* FORM INPUTS */
input, select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #dcdde1;
    border-radius: 8px;
    width: 100%;
}

button {
    padding: 12px;
    background: #ec4be9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #d638c9;
}

/* ATTENDANCE STUDENT BOX */
.student-box {
    background: #f1f2f6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #ec4bde;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    background: #f7f7f7;
    border-bottom: 1px solid #dcdde1;
}

/* DELETE BUTTONS */
.clear-Attendance {
    background: #4ae73c;
}


.btn {
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    background: #ff4ce7;
    color: white;
}

.btn.danger {
    background: #45e639;
}

.btn.danger:hover {
    background: #23c841;
}

.attendance-row {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 12px;
}

.student-name-box {
    flex: 1; 
    background: #f8f9ff;
    padding: 12px 16px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.status-dropdown {
    width: 140px;  
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

